//! =========== Footer ===========

.footer {
  background: #2f303a;
  padding: 60px 0;
  // .footer__container
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 950px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "links media" "subscribe subscribe";
      gap: 30px;
      justify-items: center;
    }

    @media (max-width: $ml) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  // .footer__logo
  &__logo {
    display: inline-block;
    color: #fff;
    font-family: Raleway;
    font-size: 26px;
    
    font-weight: 700;
    
    letter-spacing: 0.78px;

    span{
      color: #2196F3;
    }

    @media (max-width: $tab3) {
      font-size: 24px;
    }

    margin-bottom: 28px;
  }
  // .footer__links
  &__links {
    grid-area: links;
    min-width: 207px;
    margin-right: 25px;

    @media (max-width: 950px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-width: auto;
      margin-right: 0;
    }
  }
  // .footer__menu
  &__menu {
  }
  // .footer__media
  &__media {
    grid-area: media;
    margin-right: 25px;
    @media (max-width: 950px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0;
    }
    @media (max-width: $ml) {
      margin-right: 0;
    }
  }
  // .footer__title
  &__title {
    color: #fff;
    font-family: Roboto;
    
    
    font-weight: 700;
    
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media (max-width: 950px) {
      text-align: center;
    }
  }
  // .footer__social
  &__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  // .footer__subscribe
  &__subscribe {
    grid-area: subscribe;
    display: flex;
    flex-direction: column;
    width: 570px;

    @media (max-width: 950px) {
      width: 450px;
    }

    @media (max-width: $ml) {
      width: 100%;
    }
  }
  // .footer__input
  &__input {
    display: flex;
    flex-direction: row;
    @media (max-width: 950px) {
      flex-direction: column;
      align-items: center;
    }
  }
  // .footer__blank
  &__blank {
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-right: 10px;
    padding: 15px 16px;
    color: #fff;
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-family: Roboto;
      font-size: 16px;
      
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 0.48px;
    }

    @media (max-width: 950px) {
      padding: 15px 16px;
      margin-right: 0;
      margin-bottom: 20px;
    }

    @media (max-width: $ml) {
      width: 100%;
    }
  }

  //. footer__button
  &__button {
    display: flex;
    align-items: center;
    span{
      font-size: 24px;
      margin-left: 10px;
    }

    @media (max-width: 950px) {
      width: 200px;
    }
  }
}

.footer-menu {
  // .footer-menu__item
  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // .footer-menu__link
  &__link {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    position: relative;
    
    
    font-weight: 400;
    line-height: 114.286%;
    letter-spacing: 0.42px;

    // .footer-menu__link_white
    &_white {
      color: #fff;
    }

    &:hover,&:focus{
      color: #fff;
      &:after{
        content: " ";
        position: absolute;
        top: 18px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        border-radius: 2px;
      }
    }
  }
}

.footer-social {
  margin-top: 30px;

  @media (max-width: 950px) {
    margin-top: 0;
  }

  &__img {
    position: relative;
    width: 44px;
    height: 44px;
    margin-right: 10px;

    &:last-child{
      margin-right: 0;
    }

    a{
      position: absolute;
      width: 44px;
      height: 44px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.10);;
      
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
          &::before {
            color: #fff;
          }
      }

      &:hover,&:focus{
        background-color: #2196f3;
      }
    }
  }
}

.footer-form {
  width: 100%;

  // .footer-form__input
  &__input {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.8);
    padding: 0 15px 15px 15px;
    margin-bottom: 32px;
    font-family: "Arial";
    
    font-weight: 400;
    font-size: 18px;
    line-height: 131.25%;
    color: black;
    width: 100%;

    &::placeholder {
    }

    &:hover,&:focus {
      border-bottom: 1px solid #68b738;
    }

    @media (max-width: $ml) {
      width: 100%;
    }
  }
}
